@model ApplicationUser
@{
    var xp = Model.Xp;
    var xpNeeded = Model.XpNeeded;
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm">
            <div class="d-flex flex-column">
                <h4 class="text-primary">Level</h4>
                <h1>@Model.Level</h1>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-flex flex-column">
                <img class="avatar mx-auto d-block" alt="" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg">
                <div class="text-primary">@Model.UserName</div>
            </div>
        </div>
        <div class="col-sm">
            <h4 class="text-primary">Quizes taken</h4>
            <h1>@Model.QuizzesTaken.Count</h1>
        </div>
    </div>
   
    <div class="progress position-relative m-1" style="height: 29px">
        <div class="progress-bar" role="progressbar"></div>
        <h4 class="justify-content-center d-flex position-absolute w-100">
            @xp / @xpNeeded
        </h4>
    </div>
</div>

@section Scripts
{
    <script>
        let xp = @Model.Xp;
        let xpNeeded = @Model.XpNeeded;
        let quiztaken = @Model.QuizzesTaken;

        console.log(quiztaken);
        
        $(".progress-bar").css("width", xp / xpNeeded * 100 + "%");

        console.log(xp / xpNeeded * 100 + "%");
    </script>
}
