@model ApplicationUser
@{
    var xp = Model.Xp;
    var xpNeeded = Model.XpNeeded;
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm">
            <div class="d-flex flex-column">
                <h1>Level</h1>
                <h1>@Model.Level</h1>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-flex flex-column">
                <img class="avatar mx-auto d-block" alt="" src="https://images.immediate.co.uk/volatile/sites/4/2018/08/iStock_000044061370_Medium-fa5f8aa.jpg?quality=45&crop=5px,17px,929px,400px&resize=960,413">
                @Model.UserName
            </div>
        </div>
        <div class="col-sm">
            <h1>Quizzes taken</h1>
            <h1>@Model.QuizzesTaken.Count</h1>
        </div>
    </div>
   
    <div class="progress position-relative m-1" style="height: 29px;">
        <div class="progress-bar" role="progressbar"></div>
        <h4 class="justify-content-center d-flex position-absolute w-100">
            @xp / @xpNeeded
        </h4>
    </div>
    
    <div id="accordion">
        <div class="card m-1">
            <div class="card-header" id="history_hide">
                <div data-toggle="collapse" style="cursor: pointer;" data-target="#history_show" aria-expanded="true" aria-controls="history_show">
                    <h4 class="float-left m-0"><i class="material-icons float-left">expand_more</i>&emsp;History</h4>
                </div>
            </div>
  
            <div id="history_show" class="collapse show" aria-labelledby="history_hide" data-parent="#accordion">
                <div class="card-body">
                    <div class="row justify-content-center">
                        @foreach (var item in Model.QuestionsTaken)
                        {
                            <h1>@item.Question.Id</h1>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(".progress-bar").css("width", ((@Model.Xp) / (@Model.XpNeeded)) * 100 + "%");
    </script>
}
