@using Newtonsoft.Json
@model Question
@{
    dynamic alternatives = null;
    
    if (Model.Alternatives != null)
    {
        alternatives = JsonConvert.DeserializeObject(Model.Alternatives);
    }
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px; width: 100%; text-align: center;">@Model.QuestionText</h1>
    <img style="display:block; margin:auto;" class="questionImgPrev" width="500" src='@Model.ImagePath'/>
</div>

<div id="progressBar" class="progress"></div>

<div id="question" value="@Model.Id">
    @if (@Model.QuestionType == "multiple_choice" && alternatives != null)
    {
        <div class="multiple_choice">
            <button value="A" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">@alternatives[0]</button>
            <button value="B" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">@alternatives[1]</button>
            <button value="C" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">@alternatives[2]</button>
            <button value="D" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">@alternatives[3]</button>
        </div>
    } else if (Model.QuestionType == "true_false")
    {
        <div class="true_false">
            <button value="true"  type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">True</button>
            <button value="false" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">False</button>
        </div>   
    }
</div>

