@model QuizCardModel

<div class="totalPages" amount="@Model.TotalPages">
    @foreach (var item in Model.QuizList)
    {
        <div class="card float-left m-2" style="width: 32.6rem;">
            <div class="row no-gutters">
                <div class="col-4">
                    <img class="quizAvatar img-fluid" src=@(item.ImagePath == null ? "https://picsum.photos/300/200" : item.ImagePath)>
                </div>
                <div class="col-8">
                    <div class="px-2">
                        <h4 class="mt-1 mb-0 overflow-hidden">@item.Topic</h4>
                        <div class="w-100">
                            <span class="badge badge-pill badge-light">By: @item.Owner.UserName</span>
                            <span class="badge badge-pill badge-primary">@item.Category</span>
                            @if (item.Difficulty == "easy")
                            {
                                <span class="badge badge-pill badge-success">@item.Difficulty</span>
                            }
                            else if (item.Difficulty == "medium")
                            {
                                <span class="badge badge-pill badge-warning">@item.Difficulty</span>
                            }
                            else if (item.Difficulty == "hard")
                            {
                                <span class="badge badge-pill badge-danger">@item.Difficulty</span>
                            }
                        </div>
                        <div class="overflow-hidden mt-1" style="max-height: 50px;">
                            <p>@item.Description</p>
                        </div>
                    </div>
                    <div class="w-100 position-absolute" style="bottom: 0;">
                        <div class="w-100 btn-group btn-group-sm" role="group" aria-label="...">
                            <a class="btn btn-primary" asp-controller="Quiz" asp-action="Play" asp-route-id="@item.Id">Play</a>
                            <a class="btn btn-light" asp-controller="Quiz" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>