@model Quiz

<div class="card float-left m-2 w-100" style="min-width: 15rem; max-width: 30rem;">
    <div class="row no-gutters">
        <div class="col-4">
            <img class="quizAvatar img-fluid" src=@(Model.ImagePath ?? "https://source.unsplash.com/random")>
            <span class="w-100 position-absolute text-light" style="bottom: 0; background: rgba(0, 0, 0, 0.5);">
                <span class="float-left ml-1 pt-1">
                    <i class="align-text-bottom material-icons">thumb_up</i>
                    <span>@Model.Upvotes</span>
                </span>

                <span class="float-right mr-1 pt-1">
                    <span>@Model.Views</span>
                    <i class="align-text-bottom material-icons">visibility</i>
                </span>
            </span>
        </div>
        <div class="col-8">
            <div class="px-2">
                <h4 class="mt-1 mb-0 overflow-hidden">@Model.Topic</h4>
                <div class="w-100">
                    <span class="badge badge-pill badge-light">By: @Model.Owner.UserName</span>
                    <span class="badge badge-pill badge-primary">@Model.Category</span>
                    @if (Model.Difficulty == "easy")
                    {
                        <span class="badge badge-pill badge-success">@Model.Difficulty</span>
                    }
                    else if (Model.Difficulty == "medium")
                    {
                        <span class="badge badge-pill badge-warning">@Model.Difficulty</span>
                    }
                    else if (Model.Difficulty == "hard")
                    {
                        <span class="badge badge-pill badge-danger">@Model.Difficulty</span>
                    }
                </div>
                <div class="overflow-hidden mt-1" style="max-height: 50px;">
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="w-100 position-absolute" style="bottom: 0;">
                <div class="w-100 btn-group btn-group-sm" role="group" aria-label="...">
                    <a class="btn btn-primary" asp-controller="Quiz" asp-action="Play" asp-route-id="@Model.Id">Play</a>
                    <a class="btn btn-light" asp-controller="Quiz" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>